*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}   
.boxWrapped{
    background-image: url('./imgs/36061756518223cb2f9397463a79d015.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.boxHeader{
    text-align: center;
    background-color:black;

}

.boxHeader img{
    width:200px;
    height: 20vh;

}
.visaoTexto{
    backdrop-filter: blur(5px);
text-align: center;
padding:10px;
font-size: 20px;
}

.boxMain{

}
.boxMain div img{
    width: 50wv;
    height:50vh;
    border-radius: 5px;
    margin:5px;
    

}
.boxMain div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding:10px;
    
    }
    .boxMap{
        text-align: center;
       
    }
    .boxMap iframe{
        border-radius: 5px;
        margin:15px;
        box-shadow: 2px 4px 3px black;
        width:auto;
        height:40vh;
    }
.rodape p{
    padding: 5px;
    text-align: center;
    position:relative;
    bottom: 0%;
    width:100%;
    background-color: black;
    color:white;
}
