*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}   
.boxWrapped{
    width:100%;
    background-image: url('./imgs/36061756518223cb2f9397463a79d015.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;



}
.boxHeader{
    text-align: center;
    background-color:black;

}

.boxHeader img{
    width:200px;
    height: 20vh;

}
.visaoTexto{
    backdrop-filter: blur(5px);
text-align: center;
padding:25px;
font-size: 20px;
text-shadow: 1px 1px 1px gray;
cursor:pointer;
}

.boxMain div img{
    width: 60wv;
    height:50vh;
    border-radius: 5px;
    box-shadow:2px 5px 10px black;
    margin:12px;
    cursor: pointer;
    

}
.boxMain div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding:20px;
   
    
    }
    .boxMap{
        text-align: center;
        width: 100%;
       
    }
    .boxMap iframe{
        border-radius: 5px;
        margin:15px;
        box-shadow: 2px 4px 3px black;
        width:80wv;
        height:40vh;
        opacity:70%;
    }
.rodape p,a{
    padding: 5px;
    position:relative;
    bottom: 0%;
    width:100%;
    background-color: black;
    color:rgb(175, 172, 172);
    font-size: 12px;
    text-align: center;
    text-decoration: none;
   
}

 .Whatsapp {
    z-index: 1000;
    position: fixed;
    width:0%;
 bottom:3%;
 right:22%;
 background-color: transparent;
}

.imgWhatsapp{
    opacity: 80%;
    height: 10vh;
}
.imgWhatsapp:hover{
    transform: scale(1.1);
}

@media(max-width: 516px){
.boxMain div img{
    max-width: 200px;
    height: auto;
   
}
}
.animate__animated .animate__heartBeat{
--animate-duration:20s;
}
